/** common styling **/
:root {
  --primary-color: white;
  --secondary-color: #164444;
  --background-primary-color: #f5f5dc;
  --background-secondary-color: LightGrey;
  --border-secondary-color: rgba(0, 0, 0, 0.3);
  --animation-default-color: #f76414;
  --animation-primary-color: #edc655;
  --animation-secondary-color: #fcffad;
  --font-size-sm: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 30px;
  --font-weight-default: bold;
  --font-weight-primary: 700;
}

body {
  font-family: 'Cantata One', serif;
  font-weight: 400;
  font-size: var(--font-size-sm);

  /** Sets the font size to 16px **/
  line-height: 1.5;

  /* Sets the line-height to 1.6 */
  margin: 30px;
  background-image: url("../img/bg.png");
}

* {
  box-sizing: border-box;
}

header {
  font-size: var(--font-size-lg);
  line-height: 1.2;
  font-weight: var(--font-weight-default);
  margin-bottom: 50px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.project-page-header {
  display: flex;
  width: 100%;
  padding: 0;
}

.page-header__item {
  flex: 0 1 200px;
  height: 60px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.demoContainer {
  position: relative;
  text-align: center;
}

.demoCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  color: gray;
  font-size: 30px;
}

.demoContainer:hover .demoCentered {
  visibility: visible;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.2);
}

footer {
  margin-top: 0;
  font-size: var(--font-size-sm);
  line-height: 0.5;
  font-weight: var(--font-weight-default);
  padding: 100px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-footer {
  padding-top: 20px;
  padding-bottom: 0;
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footerHeader {
  font-size: 18px;
  font-weight: var(--font-weight-default);
}

.button {
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;

  /* overwrites browser defaults */

  /* resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* style button */
  background-color: var(--secondary-color);
  color: var(--primary-color);

  /* width of the border, type, color */
  border-bottom: 2px solid var(--border-secondary-color);
  transition: 1s opacity;
  margin: auto;
  line-height: 1;
  width: 250px;
}

.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.contactButton {
  margin-top: 10px;
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-primary);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-primary);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-primary);
}

a {
  color: var(--secondary-color);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

.a:visited {
  /* visited link */
  color: #00202b;
}

.navigation-list__item--active {
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 16px;
}

/** index.html styling **/
.profile {
  max-width: 700px;
  margin: 130px auto 0;
}

.profile__portrait {
  float: left;
  width: 280px;
  height: 280px;
  margin-right: 40px;
  border-radius: 50%;
}

/** about.hthl styling **/
.about__content {
  text-align: center;
}

.introduction {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.my-interest {
  list-style: none;
}

#path322 {
  animation: 4s color-change2 infinite alternate linear;
}

@keyframes color-change2 {
  0% {
    fill: #f76414;
  }

  50% {
    fill: var(animation-primary-color);
  }

  100% {
    fill: #fcffad;
  }
}

#path198 {
  animation: 15s flight-move infinite linear;
}

@keyframes flight-move {
  from {
    transform: translate(-400px, -50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

/** work.html styling **/
.workHeader {
  margin: 20px;
}

/* Styling CSS grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "work1 work2 work6"
    "work3 work4 work6"
    "work5 work5 work5";
}

/* Grid fallback */
.grid__item {
  display: inline-block;
  background-color: var(--background-secondary-color);
  padding: 10px;

  /* Set width to auto */
  width: auto;
}

.work1 {
  grid-area: work1;
}

.work2 {
  grid-area: work2;
}

.work3 {
  grid-area: work3;
}

.work4 {
  grid-area: work4;
}

.work5 {
  grid-area: work5;
  grid-column: 1;
}

.work6 {
  grid-area: work6;
}

/* Styling CSS grid */
.projectGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "projectImage projectDescription";
}

/* Grid fallback */
.projectGrid__item {
  display: inline-block;
  background-color: var(--background-secondary-color);
  padding: 10px;

  /* Set width to auto */
  width: auto;
}

.projectImage {
  grid-area: projectImage;
}

.projectDescription {
  grid-area: projectDescription;
}

/** contact.html styling **/
.contact-content {
  display: flex;
  width: 1000px;
  margin: auto;
  line-height: 20px;
}

.contact-details {
  flex-basis: 50%;
  margin-left: 20px;
}

.contact-details h1 {
  margin-top: 0;
}

.contact-form {
  flex-basis: 50%;
  margin-left: 20px;
}

.contact-form input {
  width: 100%;
  margin-bottom: 10px;
}

.contact-form textarea {
  width: 100%;
}

.callBackRequestPage {
  width: fit-content;
  border-style: double;
  padding: 20px;
  margin: auto;
}

/** design for media **/
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "work1"
      "work2"
      "work3"
      "work4"
      "work5"
      "work6";
  }

  footer {
    padding: 50px 20px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "work1 work2"
      "work3 work4"
      "work5 work6";
  }
}

@media all and (max-width: 750px) {
  header img {
    width: 175px;
  }

  header {
    font-size: var(--font-size-sm);
  }

  .profile__portrait {
    width: 85%;
    margin: 20px;
  }

  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  /* Styling CSS grid */
  .projectGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "projectImage"
      "projectDescription";
  }

  h1 {
    font-size: 22px;
  }

  section {
    padding-top: 20px;
  }

  .about__content {
    padding-top: 20px;
  }

  svg {
    width: 100%;
    height: 200px;
  }

  .contact-content {
    flex-flow: column;
    width: 100%;
    padding-top: 20px;
  }

  .contact-details {
    margin-left: 0;
  }

  .contact-form {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media all and (max-width: 1024px) {
  /* Styling CSS grid */
  .projectGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "projectImage"
      "projectDescription";
  }
}
